:root {
    --white: #fff;
    --theme-color: #281449;
    --light-blue: #9CB2DE;
    --gray: #636363;
    --gradiant: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    --lightGreen: #25D366;
    --darkGreen: #199D00;


    // font familys 
    --primary-font: "General Sans";
    --arabic-font: "SimahzazaarabicW05";


    // Font Weights
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    // Font size
    --h1: 48px;
    --h2: 40px;
    --h3: 24px;
    --h4: 20px;


    --transition-speed: 0.3s;
}