/****************English Fonts***************/
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Light.woff2") format("woff2"), url("../fonts/GeneralSans-Light.woff") format("woff"), url("../fonts/GeneralSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"), url("../fonts/GeneralSans-Semibold.woff") format("woff"), url("../fonts/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/GeneralSans-Bold.woff") format("woff"), url("../fonts/GeneralSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"), url("../fonts/GeneralSans-Regular.woff") format("woff"), url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"), url("../fonts/GeneralSans-Medium.woff") format("woff"), url("../fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/****************Arabic Fonts***************/
@font-face {
  font-family: "SimahzazaarabicW05";
  src: url("../fonts/arabic/SimahzazaarabicW05-Light.woff2") format("woff2"), url("../fonts/arabic/SimahzazaarabicW05-Light.woff") format("woff"), url("../fonts/arabic/SimahzazaarabicW05-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SimahzazaarabicW05";
  src: url("../fonts/arabic/SimahzazaarabicW05-Regular.woff2") format("woff2"), url("../fonts/arabic/SimahzazaarabicW05-Regular.woff") format("woff"), url("../fonts/arabic/SimahzazaarabicW05-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SimahzazaarabicW05";
  src: url("../fonts/arabic/SimahzazaarabicW05-Medium.woff2") format("woff2"), url("../fonts/arabic/SimahzazaarabicW05-Medium.woff") format("woff"), url("../fonts/arabic/SimahzazaarabicW05-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SimahzazaarabicW05";
  src: url("../fonts/arabic/SimahzazaarabicW05-SemiBold.woff2") format("woff2"), url("../fonts/arabic/SimahzazaarabicW05-SemiBold.woff") format("woff"), url("../fonts/arabic/SimahzazaarabicW05-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SimahzazaarabicW05";
  src: url("../fonts/arabic/SimahzazaarabicW05-Bold.woff2") format("woff2"), url("../fonts/arabic/SimahzazaarabicW05-Bold.woff") format("woff"), url("../fonts/arabic/SimahzazaarabicW05-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --white: #fff;
  --theme-color: #281449;
  --light-blue: #9CB2DE;
  --gray: #636363;
  --gradiant: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  --lightGreen: #25D366;
  --darkGreen: #199D00;
  --primary-font: "General Sans";
  --arabic-font: "SimahzazaarabicW05";
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  --h1: 48px;
  --h2: 40px;
  --h3: 24px;
  --h4: 20px;
  --transition-speed: 0.3s;
}

html {
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: relative;
  font-style: normal;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  background-color: var(--white);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: var(--primary-font);
}

a,
.btn {
  transition: all 0.3s ease-out 0s;
}

a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-bold);
  color: var(--theme-color);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  font-size: 16px;
  font-family: var(--regular);
  padding-bottom: 0;
  margin: 0;
}

*::-moz-selection {
  background: var(--theme-color);
  color: var(--white);
  text-shadow: none;
}

*::-moz-selection {
  background: var(--theme-color) none repeat scroll 0 0;
  color: var(--white);
  text-shadow: none;
}

::-moz-selection {
  background: var(--theme-color);
  color: var(--white);
  text-shadow: none;
}

::selection {
  background: var(--theme-color);
  color: var(--white);
  text-shadow: none;
}

.container {
  max-width: calc(100% - 40px) !important;
}
@media (min-width: 1580px) {
  .container {
    max-width: 1520px !important;
  }
}
@media (max-width: 568px) {
  .container {
    max-width: calc(100% - 0px) !important;
  }
}

/************************************************ RTL DIrection*************************/
html[dir=rtl] {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

body .rtl {
  position: relative;
  font-family: var(--arabic-font);
  font-weight: var(--font-weight-medium);
}

.rtl a {
  font-family: var(--arabic-font);
}

.btn {
  font-weight: var(--font-weight-bold);
  border-radius: 8px;
  padding: 10px 24px;
  transition: background-color var(--transition-speed), color var(--transition-speed);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0px 5px 6px rgba(15, 54, 149, 0.05);
}
.btn a {
  color: var(--theme-color);
}
.btn:hover, .btn:focus {
  text-decoration: none;
  box-shadow: none;
}
.btn.btn-primary {
  background-color: var(--white);
  color: var(--theme-color);
  border: none;
}
.btn.btn-primary:hover {
  background-color: var(--theme-color);
  color: var(--white);
  border: 1px solid var(--white);
}
.btn.btn-secondary {
  background-color: var(--theme-color);
  color: var(--white);
  border: none;
}
.btn.btn-secondary:hover {
  background-color: var(--white);
  color: var(--theme-color);
}
.btn.btn-outline-primary {
  background: transparent;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}
.btn.btn-outline-primary:hover {
  background: var(--theme-color);
  color: var(--white);
}
.btn.btn-outline-secondary {
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}
.btn.btn-outline-secondary:hover {
  background: var(--white);
  color: var(--theme-color);
}

/******************************************* Banner__UI *********************************/
.banner__wrapper {
  height: 100%;
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 100px;
}
.banner__wrapper--content {
  padding: 0 20px;
  width: 80%;
}
.banner__wrapper--content img {
  width: 150px;
}
.banner__wrapper--img img {
  transform: scaleX(-1);
}

.about__wrapper {
  padding: 80px 0;
}
.about__wrapper--border {
  padding: 18px 24px;
  border-radius: 8px;
  border: 2px solid var(--theme-color);
}
.about__wrapper--banner {
  background-image: url(../images/logoBgEn.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: var(--theme-color);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-top: 80px;
  padding: 40px 40px;
  overflow: hidden;
}
.about__wrapper--banner h2 {
  width: 55%;
}
.about__wrapper--banner button {
  width: 185px;
}

.service__wrapper {
  padding: 0 0 80px;
}
.service__wrapper--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.study__wrapper {
  padding: 0 0 80px;
}
.study__wrapper--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.scholarship__wrapper {
  padding: 25px 40px;
  border-radius: 16px;
}
.scholarship__wrapper--img span {
  width: 100%;
}
.scholarship__wrapper--img span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scaleX(-1);
}

.contact__wrapper {
  padding: 80px 0;
}
.contact__wrapper--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  width: 70%;
  margin: auto;
}
.contact__wrapper--info {
  margin: 40px 0;
  background-color: var(--theme-color);
  border-radius: 16px;
  padding: 20px;
}
.contact__wrapper--info-detail {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 16px;
}
.contact__wrapper--info-detail p {
  display: flex;
  align-items: center;
  gap: 6px;
}
.contact__wrapper--social {
  display: flex;
  align-items: center;
  gap: 6px;
}
.contact__wrapper--social-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact__wrapper--social-icon-box {
  background: var(--white);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 1px rgba(40, 20, 73, 0.1294117647);
  border-radius: 8px;
}

/******************************************* RTL__UI *********************************/
.rtl .banner__wrapper--img img,
.rtl .scholarship__wrapper--img img {
  transform: scaleX(1);
}
.rtl .about__wrapper--banner {
  background-image: url(../images/logoBgAr.png);
}/*# sourceMappingURL=Style.css.map */