@import './common';


/******************************************* LTR_UI *********************************/

.banner__wrapper {
    // height: calc(100vh - 0px);
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 100px;

    &--content {
        padding: 0 0 0 50px;
        width: 90%;

        @media (max-width:1030px) {
            padding: 0;
            width: 100%;

        }

        @media (max-width:992px) {
            margin-top: 30px;
            text-align: center;
        }

        img {
            width: 150px;
            margin-bottom: 16px;
        }
    }

    &--img {
        img {
            transform: scaleX(-1);
        }
    }
}

.about__wrapper {
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 40px 0;
    }

    &--border {
        padding: 18px 24px;
        border-radius: 8px;
        border: 2px solid var(--theme-color);
        height: 350px;

        @media (max-width:1199px) {
            height: auto;
        }
    }

    &--banner {
        background-image: url(../images/logoBgEn.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-color: var(--theme-color);
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 16px;
        margin-top: 80px;
        padding: 40px 40px;
        overflow: hidden;

        @media (max-width:992px) {
            background-position: right bottom;
        }

        @media (max-width:568px) {
            flex-direction: column;
            padding: 40px 20px;
            gap: 12px;
        }

        h2 {
            width: 62%;

            @media (max-width:568px) {
                text-align: center;
                width: 100%;
            }
        }

        button {
            width: 185px;
            display: block;
        }
    }
}

.service__wrapper {
    padding: 0 0 100px;

    @media (max-width:768px) {
        padding-top: 40px;
    }

    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        text-align: center;
        width: 77%;
        margin: auto;

        @media (max-width:992px) {
            width: 100%;
        }
    }

    .slick-dots {
        position: relative;
        top: 20px;

        li {
            button {
                &:before {
                    font-size: 20px;
                    content: '■';
                    opacity: .5;
                    color: var(--light-blue);
                }
            }
        }
    }

    .slick-dots li.slick-active button:before {
        opacity: .9;
        color: var(--theme-color);
    }
}

.study__wrapper {
    padding: 0 0 80px;

    @media (max-width:768px) {
        padding: 0 0 40px;
    }

    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        text-align: center;
        width: 50%;
        margin: auto;

        @media (max-width:992px) {
            width: 100%;
        }
    }
}

.studyDestination__wrapper {
    background-image: url(../images/world-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--theme-color);
    padding: 100px 0;
    margin: 0 0 100px;

    &--content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        @media(max-width:992px) {
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }

    .slick-dots {
        position: relative;
        top: 20px;

        li {
            button {
                &:before {
                    font-size: 10px;
                    content: '•';
                    opacity: .4;
                    color: white;
                }
            }
        }
    }

    .slick-dots li.slick-active button:before {
        opacity: .9;
        color: var(--white);
    }
}

.scholarship__wrapper {
    padding: 25px 20px;
    border-radius: 16px;

    &--content {
        padding: 0 20px 0 40px;

        @media (max-width:992px) {
            padding: 0;
        }

    }

    &--img {
        span {
            width: 100%;
            height: 436px;

            @media (max-width:992px) {
                height: auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
                transform: scaleX(-1);
            }
        }
    }
}

.contact__wrapper {
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 40px 0;
    }

    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        text-align: center;
        width: 70%;
        margin: auto;

        @media (max-width:768px) {
            width: 100%;
        }

    }

    &--info {
        margin: 40px 0;
        background-color: var(--theme-color);
        border-radius: 16px;
        padding: 20px;

        @media (max-width:992px) {
            text-align: center;
        }



        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width:992px) {
                flex-wrap: wrap;
                gap: 16px;
                // justify-content: space-between;
            }
        }

        &-detail {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-top: 16px;

            a {
                color: var(--white);
                pointer-events: auto;
                color: inherit;
            }

            @media (max-width:992px) {
                flex-wrap: wrap;
            }

            @media (max-width:768px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between !important;
                text-align: start;
            }

            p {
                display: flex;
                align-items: start;
                gap: 6px;
            }
        }
    }

    &--social {
        display: flex;
        align-items: center;
        gap: 6px;

        &-icon {
            display: flex;
            align-items: center;
            gap: 12px;

            &-box {
                background: var(--white);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 1px 3px 1px #28144921;
                border-radius: 8px;
            }
        }

    }

}

.contact__wrapper--content,
.study__wrapper--content,
.service__wrapper--content {

    @media (max-width:768px) {
        p {
            font-size: 20px;
            font-weight: var(--font-weight-medium);
        }
    }

    @media (max-width:568px) {
        p {
            font-size: 18px;
            font-weight: var(--font-weight-medium);
        }
    }
}

/******************************************* RTL__UI *********************************/

.rtl {

    .banner__wrapper {

        &--content {
            padding: 0 50px 0 0;
            width: 60%;

            @media (max-width:1030px) {
                padding: 0;
                width: 100%;
            }

            @media (max-width:992px) {
                padding: 0;
                width: 100%;
            }
        }

    }

    .banner__wrapper--img img,
    .scholarship__wrapper--img img {
        transform: scaleX(1);
    }

    .navbar__nav--social button span,
    .contact-No {
        direction: ltr;
        unicode-bidi: embed;
        font-family: var(--primary-font) !important;
    }

    // .navbar__nav--wrap {
    //     @media (max-width:1030px) {
    //         right: auto !important;
    //         left: 0 !important;
    //         transform: translateX(-100%) !important;

    //         &.showToggle {
    //             transform: translateX(0) !important;
    //         }
    //     }
    // }

    .about__wrapper {
        &--banner {
            background-image: url(../images/logoBgAr.png);
        }

        &--border {
            height: 260px;

            @media (max-width:1199px) {
                height: 300px;
            }

            @media (max-width:1025px) {
                height: auto;
            }
        }
    }

    .about__wrapper {
        &--banner {

            @media (max-width:992px) {
                background-position: left bottom;
            }
        }
    }

    .form__group {
        svg {
            right: auto !important;
            left: 15px;

        }
    }

    input[name="phone"] {
        font-family: var(--primary-font);
    }

}