@font-face {
    font-family: 'SimahzazaarabicW05';
    src: url('SimahzazaarabicW05-Medium.eot');
    src: local('Simah zaza arabic W05 Medium'), local('SimahzazaarabicW05-Medium'),
        url('SimahzazaarabicW05-Medium.eot?#iefix') format('embedded-opentype'),
        url('SimahzazaarabicW05-Medium.woff2') format('woff2'),
        url('SimahzazaarabicW05-Medium.woff') format('woff'),
        url('SimahzazaarabicW05-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimahzazaarabicW05';
    src: url('SimahzazaarabicW05-Light.eot');
    src: local('Simah zaza arabic W05 Light'), local('SimahzazaarabicW05-Light'),
        url('SimahzazaarabicW05-Light.eot?#iefix') format('embedded-opentype'),
        url('SimahzazaarabicW05-Light.woff2') format('woff2'),
        url('SimahzazaarabicW05-Light.woff') format('woff'),
        url('SimahzazaarabicW05-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimahzazaarabicW05';
    src: url('SimahzazaarabicW05-SemiBold.eot');
    src: local('Simah zaza arabic W05 Semi Bold'), local('SimahzazaarabicW05-SemiBold'),
        url('SimahzazaarabicW05-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SimahzazaarabicW05-SemiBold.woff2') format('woff2'),
        url('SimahzazaarabicW05-SemiBold.woff') format('woff'),
        url('SimahzazaarabicW05-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimahzazaarabicW05';
    src: url('SimahzazaarabicW05-Regular.eot');
    src: local('Simah zaza arabic W05 Regular'), local('SimahzazaarabicW05-Regular'),
        url('SimahzazaarabicW05-Regular.eot?#iefix') format('embedded-opentype'),
        url('SimahzazaarabicW05-Regular.woff2') format('woff2'),
        url('SimahzazaarabicW05-Regular.woff') format('woff'),
        url('SimahzazaarabicW05-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SimahzazaarabicW05';
    src: url('SimahzazaarabicW05-Bold.eot');
    src: local('Simah zaza arabic W05 Bold'), local('SimahzazaarabicW05-Bold'),
        url('SimahzazaarabicW05-Bold.eot?#iefix') format('embedded-opentype'),
        url('SimahzazaarabicW05-Bold.woff2') format('woff2'),
        url('SimahzazaarabicW05-Bold.woff') format('woff'),
        url('SimahzazaarabicW05-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

